In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Salary_Data.csv')

In [3]:
data.head(5)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
data.shape

(30, 2)

In [5]:
data.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [6]:
X = data.drop('Salary', axis = 1)

In [7]:
y = data['Salary']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.30, random_state=4)

In [10]:
from sklearn.linear_model import LassoCV
model = LassoCV()
model.fit(X_train, y_train)

LassoCV()

In [11]:
model.score(X_test,y_test)

0.916502614386547

In [12]:
filename = 'final_model.pkl'

In [13]:
import pickle

In [14]:
pickle.dump(model, open(filename, 'wb'))

In [15]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.916502614386547

In [17]:
y_pred = model.predict(X_test)

In [18]:
y_pred

array([ 63361.91805055,  92710.48630351, 123005.78256462,  71882.47012399,
        89870.30227903, 110698.31845854,  75669.38215663, 124899.23858094,
        82296.47821375])

In [19]:
y_test

11     55794.0
21     98273.0
28    122391.0
15     67938.0
20     91738.0
25    105582.0
17     83088.0
29    121872.0
19     93940.0
Name: Salary, dtype: float64

In [20]:
prediction = {
    "Actual Values": y_test,
    "Predicted Values": y_pred
}

In [21]:
predictions = pd.DataFrame(prediction)

In [22]:
predictions

    Actual Values  Predicted Values
11        55794.0      63361.918051
21        98273.0      92710.486304
28       122391.0     123005.782565
15        67938.0      71882.470124
20        91738.0      89870.302279
25       105582.0     110698.318459
17        83088.0      75669.382157
29       121872.0     124899.238581
19        93940.0      82296.478214